:root {
    /*COLORES (pueden agregar mas variables si ven necesario)*/
    --color-primary: rgb(216, 95, 166);
    --color-primary-light: #f3c6df;
    --color-secondary: #9b73d1;
    --color-white: #ffffff;
    --color-light-gray: #f7f7f7;
    --color-gray: #444444;
    --color-dark: #222222;
    --color-success: #8fc1a9;
    /* TIPOGRAFÍA */
    --font-main: 'Montserrat', 'Playfair Display','Lucida Sans Regular';

    /* TAMAÑOS  DE LETRA  (manejen em en todas las medidas para que se adapte a todas las pantallas), la medida base es 16px*/
    --h1-size: 2.3em;      
    --h2-size: 1.9em;      
    --h3-size: 1.5em;      
    --h4-size: 1.3em;   
    --p-size: 1em;         
    --small-size: 0.85em;  

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 48px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-light-gray);
    color: var(--color-gray);
}


h1 {
    font-size: var(--h1-size);
    color: var(--color-dark);
}

h2 {
    font-size: var(--h2-size);
    color: var(--color-dark);
}

h3 {
    font-size: var(--h3-size);
    color: var(--color-dark);
}

p {
    font-size: var(--p-size);
}




