:root {

    /* PALETA PRINCIPAL */
    --color-primary: #d85fa6;
    --color-primary-light: #f3c6df;
    --color-secondary: #9b73d1;

    --color-white: #ffffff;
    --color-light-gray: #f7f7f7;
    --color-gray: #444444;
    --color-dark: #222222;

    --color-success: #8fc1a9;
    /* TIPOGRAFÍA */
    --font-main: 'Montserrat', sans-serif;

    /* TAMAÑOS TIPOGRÁFICOS EN EM */
    --h1-size: 2.2em;      /* ~35px */
    --h2-size: 1.8em;      /* ~30px */
    --h3-size: 1.4em;      /* ~22px */
    --h4-size: 1.2em;      /* ~19px */
    --p-size: 1em;         /* 16px (base) */
    --small-size: 0.85em;  /* ~14px */


    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 48px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    background-color: var(--color-light-gray);
    color: var(--color-gray);
    line-height: 1.6;
}


h1 {
    font-size: var(--h1-size);
    color: var(--color-dark);
}

h2 {
    font-size: var(--h2-size);
    color: var(--color-dark);
}

h3 {
    font-size: var(--h3-size);
    color: var(--color-dark);
}

p {
    font-size: var(--p-size);
}

small {
    font-size: var(--small-size);
}



